.messages-container{
    position:absolute;
    z-index: 10;

    width:100%;
    height:100%;

    transform: rotate(180deg);
}

.messageAnimation{
    transform: rotate(180deg);
    animation-name: messageAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes messageAnimation {
    from {
        transform: rotate(180deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}